@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

html, body {
	font-family: 'Noto Sans KR', '맑은 고딕', 'Malgun Gothic',  sans-serif;
}

html, body, h1, form, button, p, address {
	margin: 0;
	padding: 0;
}

a, button {
	cursor: pointer;
	text-decoration: none;
}



